

.example-card {
  max-width: 400px;
  margin-bottom: 20px;
  background-color: rgb(49, 49, 49);
  color: aliceblue;
}

.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.flag-avatar {
  width: 50px;
  height: 50px;
  // border-radius: 50px;
}

.card-content {
  display: flex;
  align-items: center;
}
.card-title{
  width: 120px;
  margin: 0 15px;
}
.preview-card {
  box-shadow: 1px 1px 1px 0px #131313bf;
  font-size: 30px;
  width: 450px;
  align-items: center;
  background-color: rgb(180, 186, 186);
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  border-radius: 10px;
  margin: 0 15px;
  margin-top: 15px;
  & > :first-child {
    margin-left: 20px;
  }
  & > :last-child {
    margin-right: 20px;
  }



  .remove-btn{
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
  }

  button {
    background-color: transparent;
  }
}
