<!-- <section class="clock-preview">
    <mat-card class="example-card">
        <mat-card-header>
            <img class="flag-avatar" alt="{{clock.country}}" src='http://purecatamphetamine.github.io/country-flag-icons/3x2/{{clock?.code}}.svg' />
            <mat-card-title>{{clock?.country}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
            <h1>{{ time |date: 'h:mm:ss a'}}</h1>
            <button (click)="removeClock(clock.id)">x</button>
        </mat-card-content>
    </mat-card> -->

<section *ngIf="clock" class="preview-card">
    <img class="flag-avatar" alt="{{clock.country}}"
        src='http://purecatamphetamine.github.io/country-flag-icons/3x2/{{clock?.code}}.svg' />
    <div class="card-title">{{clock?.country}}</div>
    <div >{{ time |date: 'hh:mm:ss'}}</div>
    <img (click)="removeClock(clock.id)" class="remove-btn" src="../../../assets/img/bin.png" alt="delete">
</section>


<!-- <p>Id: {{item?.id}}</p> -->
<!-- <div class="text-center">
    <ng-content></ng-content>
</div> -->
<!-- </section> -->