<div>
  <form (submit)="$event.preventDefault();saveClock()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Add Place</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Country" matInput [formControl]="myControl"
        [matAutocomplete]="auto" [(ngModel)]="clock.country">
      <mat-autocomplete  autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>