
.clock-app-container{
    background-color: rgb(226, 226, 226);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.clock-edit{
    margin-top: 20px;
}